#
# This file contains default values which are used
# by the salt states deploying your project.
# you may copy them to your relevant PILLAR file
# before editing them.
# If you need to add variables, this is where to begin.
# Please keep defaults in there, but real passwords
# must be putted inside pillar
#
# replace project_name in your pillar by
# the current projectname
# you can also merge parts of this file
# with the relevant pillar
#
# think that dicts are updated/merged with default
# but lists are overidden
makina-projects.projectname:
  data:
    wsvn_ver: "2.3.3"
    var: "{data_root}/var"
    doc_root: "{data_root}/www"
    websvn_doc_root: "{data_root}/websvn_www"
    svn_vhost: "salt://makina-projects/{name}/files/svn.conf"
    websvn_vhost: "salt://makina-projects/{name}/files/websvn.conf"
    htaccess: /etc/corpus_{name}htaccess
    configs:
      svn:
        template: "salt://makina-projects/{name}/files/svn_authz"
        dest: "/etc/{name}svnauthz"
        mode: "644"
      websvn:
        template: "salt://makina-projects/{name}/files/distconfig.php"
        dest: "{websvn_doc_root}/include/config.php"
        mode: "644"
        user: "{user}"
        group: "{group}"
    domain: "{fqdn}"
    websvn_domain: "websvn-{fqdn}"
    server_aliases: []
    websvn_server_aliases: []
    http_users:
      - root: {{salt['mc_utils.generate_stored_password']('svnaccess')}}
    ldap_url: "ldap://ldap.x.net:389/ou=People,dc=x"
    ldap_groups:
      - cn=subversion,ou=Group,dc=x
      - cn=svnguest,ou=Group,dc=x
    #ldap_user_url: ''
    authz:
      - "groups":
        - "everyone=mpa"
        - "foo-dev=mpa"
      - "perso:/mpa":
        - "mpa=rw"

# copy /paste oin your pillar
makina-states.services.http.apache.mpm: prefork
# vim:set ft=sls:
